<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Recipe App</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
<!-- Header Fragment -->
<div th:replace="fragments/header :: header"></div>

<!-- Content -->
<section layout:fragment="content"></section>

<!-- JS -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>